<!DOCTYPE html>
<html ng-app = "showHideDemo">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../script/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../lib/_bootstrap.scss">
    <link rel="stylesheet" type="text/css" href="../lib/semantic.css">
    <link rel="stylesheet" type="text/css" href="../lib/style.css">
</head>
<body>
<div class="wrapper">
    <div id="border">
        <div class="dom2" ng-controller="todo">
            <form ng-submit = "additme()">
                <input type="text" ng-model="newItem" required>
                <input type="submit" value="Submit" >
                <p>{{name}}</p>
            </form>

            <ul class="libs">
                <li ng-repeat="lib in libs">
                    <span><button type="button" ng-click="removeItem()">Delete</button> </span>
                    {{lib.name}}
                </li>
            </ul>
        </div>
    </div>
    <div class="border1">
        <div class="dom3" ng-controller="todo1">
            <form ng-submit = "additme()">

                <input type="text" ng-model="oldItem" required>
                <input type="submit" value="Submit" >


                <p>{{name}}</p>
            </form>

            <ul class="libs">
                <li ng-repeat="lib in libs">
                    <span><button type="button" ng-click="removeItem()">Delete</button></span>
                    {{lib.name}}
                </li>
            </ul>
        </div>
    </div>
</div>

<script>
     angular.module('showHideDemo',[])
    .controller('todo',function($scope){
        $scope.libs = [
            {name: 'AngularJS', checked: false},
            {name: 'Backnone', checked: false},
            {name: 'Knockout', checked: false},
            {name: 'Jquery', checked: false},
            {name: 'MooTools', checked: false},

        ];
                 $scope.additme=function(){
                     $scope.libs.push({name: $scope.newItem});
                      if($scope.newItem === undefined){
                         return;
                 }
                     $scope.newItem =  undefined;

                 };
                $scope.removeItem = function(index) {
                     $scope.libs.splice(index, 1);
                 }
    })
    .controller('todo1',function($scope){
        $scope.libs = [
            {name: 'AngularJS', checked: false},
            {name: 'Backnone', checked: false},
            {name: 'Knockout', checked: false},
            {name: 'Jquery', checked: false},
            {name: 'MooTools', checked: false},

        ];
                 $scope.additme=function(){
                     $scope.libs.push({name: $scope.oldItem});
                     $scope.oldItem =  undefined;
                 };
                 $scope.removeItem = function(index) {
                     $scope.libs.splice(index, 1);
                 }
    });
</script>
</body>
</html>