<!DOCTYPE html>
<html ng-app = "showHideDemo">
<head lang="en">
    <meta charset="UTF-8">
    <title>Two</title>
    <script src="../script/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/_bootstrap.scss">
    <link rel="stylesheet" type="text/css" href="../css/semantic.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>

</head>
<body>
<div class="wrapper">
        <h1>Chat Box In Angularjs</h1>
    <div id="border" class="ui piled feed green segment">
        <div class="dom2" ng-controller="todo" >
            <ul class="libs">
                <div class="ui ribbon green label">IJLAL</div>
                <li ng-repeat="message in chat">
                    <span><i class="comment outline icon"></i></span>
                    {{message.sender}} : {{message.text}}
                </li>
            </ul>
            <form ng-submit="additme()">
                <div class="ui left icon input">
                    <input type="text" ng-model="text" class="i_n" placeholder="Send Message" required>
                    <i class="users green icon"></i>
                </div>
            </form>
        </div>
    </div>
    <div id="border1" class="ui piled feed green segment">
        <div class="dom3" ng-controller="todo1">
            <ul class="libs">
                <div class="ui ribbon green label">KHANZADA</div>
                <li ng-repeat="message in chat">
                    <span><i class="comment outline icon"></i></span>
                    {{message.sender}} : {{message.text}}
                </li>
            </ul>
            <form ng-submit = "additme()">
                <div class="ui left icon input">
                    <input type="text" ng-model="text" class="i_n" placeholder="Send Message" required>
                    <i class="users green icon"></i>
                </div>
            </form>

        </div>
    </div>
</div>


<script>
    angular.module('showHideDemo',[])
            .controller('todo',function($scope, $rootScope){
                $rootScope.chat = [
//
                ];
                $scope.additme = function(){
                    $scope.chat.push({sender: 'IJLAL',  text: $scope.text});
                    $scope.text =  undefined;
                };
            })

            .controller('todo1',function($scope){
                $scope.additme=function(){
                    $scope.chat.push({sender: 'KHANZADA',text: $scope.text});
                    $scope.text =  undefined;
                };
            });
</script>
</body>
</html>