<!DOCTYPE html>
<html ng-app="todoApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>directive ng-Repeat</title>
    <script src="../script/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/_bootstrap.scss">
</head>

<body>

<div ng-controller="TodoController">
    <input type="text"  id="o_s" ng-model="name" placeholder="Search Name Hear">
    <ul>
        <li ng-repeat="item in items | filter:name;">
            <strong>{{item.name}}</strong>
            <span>{{item.phone}}</span>
        </li>
    </ul>

    <input type="checkbox"  ng-model="item1">
    <label for="c1">Show</label>

    <input type="checkbox"  ng-model="item2">
    <label>Hide</label>

    <input type="checkbox"  ng-model="item3">
    <label>Disply</label>

           <div ng-show="item1"><h3>ng-show</h3></div>
             <div ng-hide="item2"><h3>ng-hide</h3></div>
                 <div ng-if="item3"><h3>ng-if</h3></div>

    </div>


<script>
    angular.module('todoApp', [])
            .controller('TodoController', ['$scope', function($scope)
            {
                $scope.items= [{name:'John', phone:'555-1276'},
                    {name:'Mary', phone:'800-BIG-MARY'},
                    {name:'Mike', phone:'555-4321'},
                    {name:'Adam', phone:'555-5678'},
                    {name:'Julie', phone:'555-8765'}
                ];
                $scope.item1 = false;
                $scope.item2 = false;
                $scope.item3 = false;


            }]);
</script>
</body>
</html>